version: '3.1'

services:
   web:
     image: nginx:latest
     ports:
       - "8080:80"
     volumes:
       - wordpress_data:/var/www/html
       - ./nginx/log:/var/log/nginx
       - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
     depends_on:
       - wordpress
     links:
       - wordpress:php

   mysqldb:
     image: mysql:5.7
     volumes:
       - db_data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: wordpressroot
       MYSQL_DATABASE: wordpress
       MYSQL_USER: wordpress
       MYSQL_PASSWORD: wordpress

   wordpress:
     depends_on:
       - mysqldb
     image: wordpress:4.5.2-fpm
     restart: always
     volumes:
       - wordpress_data:/var/www/html
       - ./php/log:/var/log/php
     environment:
       WORDPRESS_DB_HOST: mysqldb:3306
       WORDPRESS_DB_USER: wordpress
       WORDPRESS_DB_PASSWORD: wordpress

   grafana:
     image: grafana/grafana:latest
     environment:
       GF_SECURITY_ADMIN_PASSWORD: "foobar"
       GF_USERS_ALLOW_SIGN_UP: "false"
     ports:
       - "3000:3000"
     volumes:
       - ./grafana_home:/var/lib/grafana

   prometheus:
     image: prom/prometheus:latest
     restart: always
     ports:
       - "9090:9090"
     volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
     command:
      - '-config.file=/etc/prometheus/prometheus.yaml'
      - '-storage.local.path=/prometheus'
      - '-alertmanager.url=http://alertmanager:9093'
      - '-web.console.libraries=/usr/share/prometheus/console_libraries'
      - '-web.console.templates=/usr/share/prometheus/consoles'
     links:
      - cadvisor
     depends_on:
      - cadvisor

   node-exporter:
     image: prom/node-exporter
     restart: always
     volumes:
       - /proc:/host/proc:ro
       - /sys:/host/sys:ro
       - /:/rootfs:ro
     command: '-collector.procfs=/host/proc -collector.sysfs=/host/sys -collector.filesystem.ignored-mount-points="^(/rootfs|/host|)/(sys|proc|dev|host|etc)($$|/)" collector.filesystem.ignored-fs-types="^(sys|proc|auto|cgroup|devpts|ns|au|fuse\.lxc|mqueue)(fs|)$$"'
   
   cadvisor:
    image: google/cadvisor
    restart: always
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
   
volumes:
    db_data:
    wordpress_data:
    prometheus_data:

